
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
/* Google fonts ^^^*/

.group {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
}

img{
    width: 100%;
    max-width:350px;
}

.item {
    width: 100%;
    flex: 1;
}

.item-padded{
    margin: 5px;
}

.item-triple {
    flex: 3;
}

.column:first-of-type{
    padding-left: 0px;
}

.column:last-of-type{
    padding-right: 0px;
}

.link-primary{
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
}

.link-primary:hover{
    color: #AEAEB2;
}

.spaced-article{
    margin: 150px 0px;
}

a {
    text-decoration: none;
    color: #111111;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a:hover{
    color: #AEAEB2;
}

/* To style the navigation bar */
nav > a {
    padding: 0 15px 10px 20px;
    font-weight: 300;
    font-size: 26px;
}

.project-link > a{
    margin-right: 20px;
}

.profile-pic {
    width: 100%;
    border-radius: 50%;
}

main {
    margin: 20px;
}

header {
    padding: 20px;
    background-color: #ff6868;
}

footer {
    padding: 20px;
    background-color: #ff6868;
    margin-top: 60px;
}

hr{
    background-color: #ff6868;
    height: 2px;
    border: none;
}

body {
    color: #fcfcfc;
    margin: 0;
    padding: 50px;
}

h1 {
    font-weight: 300;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 32px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
}

h4 {
    font-weight: 300;
    font-size: 16px;
}

p {
    font-weight: 300;
    font-size: 20px;
}

/* Formats a group of elements to the same color and font */
header, h1, h2, h3, h4, ul, ol, li, p {
    color: #111111;
    font-family: 'Montserrat', sans-serif;
}

ul > li {
    font-weight: 300;
    font-size: 18px;
}

.large-list > ul > li{
    font-size: 28px;
}

/* used as a class to center specific elements*/
.align-center {
    text-align: center;
}

@media all and (min-width:900px){
	.group {
		flex-direction: row;
    }

    .profile-pic {
        min-width: 220px;
        max-width: 250px;
    }
    
    main {
        margin: 0px 100px;
        margin-top: 70px;
    }
    
    .item {
        margin-right: 30px;
    }
    
    .item-padded{
        margin: 30px;
    }

    img{
        width: 100%;
        max-width:500px;
    }
    
}
